.top {
  h1 {
    font-size: 3rem;
    color: var(--clr-quaternary);
    margin-bottom: 4rem;
  }

  &__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;

    span {
      color: var(--clr-tertiary);
    }
  }
}