:root {
  font-size: 62.5%;
  --clr-primary: linear-gradient(
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  --clr-secondary: hsl(240, 78%, 98%);
  --clr-tertiary: hsl(234, 14%, 74%);
  --clr-quaternary: hsl(234, 13%, 49%);
  --clr-quinary: hsl(232, 13%, 33%);
  --clr-button: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%) 60%
  );

  --clr-main: hsl(237, 63%, 64%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-white-m: rgba(255, 255, 255 , .3);
  --clr-black: hsla(0, 0%, 0%);
  --clr-bb: hsla(0, 0%, 0%, 0.15);
}

html,
body {
  height: 100%;
}

body {
  font-size: 1.5rem;
  line-height: 1.3;

  background-color: var(--clr-secondary);
  background-image: url("../images/bg-top.svg"), url("../images/bg-bottom.svg");
  background-repeat: no-repeat;
  background-position: 100% 0, 0 100%;
  background-size: 25% 80%, 25% 45%;

  @include media-medium {
    background-image: url("../images/bg-top.svg");
    background-repeat: no-repeat;
    background-position: 220% -5%;

    background-size: 70%;
  }

  @include media-tablet {
    overflow: hidden;
  }
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

a:link,
a:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-white);
}

input[type="text"] {
  //   -moz-appearance: textfield;
  min-width: 0;
  box-sizing: border-box !important;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 5rem;

  @include media-tablet {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

main {
  width: unquote($string: "min(90% , 110rem)");
  margin: 7rem auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 10rem;

  @include media-tablet {
    gap: 10rem;
  }
}

.hidden {
  display: none !important;
}
